

.generatorContainer {
    margin: 25vh 15vw;
    border: 2px solid black;
    padding: 20px;
}

.excuseSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    flex-wrap: wrap;
    
}

select {
    margin-top: 0.75rem;
    height: 2.5rem;
    margin-left: 1.25rem;
    display: flex;
    font-size: 1.5rem;
    border-radius: 7.5%;
    background-color: gray;
}

button {
    background-color: gray;
    border: 2px solid black;
    border-radius: 7.5%;
    font-size: 1.5rem;
    padding: 5px;
}

