
.wrapper {
    visibility: hidden;
}


.generatorContainer {
    margin: 25vh 25vw;
    border: 2px solid black;
    box-shadow: 12px 12px 2px 1px rgba(0, 0, 0, 0.384);
    padding: 5vh;
    background-color: white;
    border-radius: 15px;
    
}

.excuseSelection > h1 {
    font-weight: 400;
}

.excuseSelection {
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(0,0,0,0);
    flex-wrap: wrap;
    margin-bottom: 1.5rem;
}

select {
    font-family: 'Raleway', sans-serif;
    margin-top: 0.5rem;
    height: 2.5rem;
    margin-left: 0.75rem;
    display: flex;
    font-size: 1.5rem;
    border-radius: 7.5%;
    background: none;
    border: 2px solid rgb(245, 1, 151);
    
}

.btn {
    font-family: 'Raleway', sans-serif;
    margin-top: 0.25rem;
    border: 2px solid rgb(245, 1, 151);
    background: none;
    border-radius: 7.5%;
    font-size: 1.5rem;
    padding: 0.75rem 1rem;
    cursor: pointer;
    transition: 0.2s all ease;
    text-transform: uppercase;
}

.btn:hover {
    background-color: rgba(240, 48, 166, 0.8)
}

.btn:focus {
    outline: 0;
}

select:focus {
    outline: 2px solid #00AA8D;
}


@media (min-width: 1800px) {
    .generatorContainer {
        margin: 25vh 35vw;

    }
}


@media (max-width: 1080px) {
    .generatorContainer {
        margin: 25vh 15vw;
        padding: 3vw;
    }
}

@media (max-width: 740px) {
    .generatorContainer {
        margin: 25vh 5vw;
    }
}

@media (max-width: 570px) {
    h1 {
        font-size: 1.5rem;
    }

    .generatorContainer {
        padding: 5vh 1vw;
    }

    select {
        font-size: 1.25rem;
    }

}

@media (max-width: 400px) {
    select {
        font-size: 1rem;
    }

    h1 {
        font-size: 1.25rem;
    }

    .excuseSelection > h1 {
        margin-bottom: 0.25rem;
    }

    .btn {
        font-size: 1rem;
    }
}
