body {
  margin: 0;
  font-family: 'Raleway', serif;
  background: url('/layoutAssets/bg.svg') no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-size: cover;
}


::selection {
   background: lightgrey;
 }
